MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=auction_db
MYSQL_USER=auction_user
MYSQL_PASSWORD=auction_pass

DB_URL=jdbc:mysql://localhost:3306/auction_db?useSSL=false&serverTimezone=Asia/Ho_Chi_Minh&allowPublicKeyRetrieval=true
DB_USER=auction_user
DB_PASSWORD=auction_pass
